/* Tab Modules */


.tab-view{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 49px 0;
  overflow-x: hidden;

  .tab-view-body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    &.seg-2{
      width: 200%;

      .segment{
        width: 50%;
      }
    }

    &.seg-3{
      width: 300%;

      .segment{
        width: e('calc(100% / 3)');
      }
    }

    &.seg-4{
      width: 400%;

      .segment{
        width: 25%;
      }
    }

    &.seg-5{
      width: 500%;

      .segment{
        width: 20%;
      }
    }

    .segment{
      display: inline-block;
      float: left;
      height: 100%;
      overflow-y: auto;
    }

    &.seg-1-of-4, &.seg-1-of-3{
      //transform: translate3d(0,0,0);
    }

    &.seg-2-of-4{
      //transform: translate3d(-25%,0,0);
    }

    &.seg-3-of-4{
      //transform: translate3d(-50%,0,0);
    }

    &.seg-4-of-4{
      //transform: translate3d(-75%,0,0);
    }

    &.seg-2-of-3{
      //transform: e('translate3d(calc(-100% / 3),0,0)');
    }

    &.seg-3-of-3{
      //transform: e('translate3d(calc(-200% / 3),0,0)');
    }
  }
}


//首页Tab
#tab-home{

  #segment-live{
    //background: green;

    #live-categories{
      margin-top: 10px;
      padding: 8px 0;
      background: #ffffff;
      box-shadow: 0 0 1px 1px #eaeaea;

      ul{

        li{
          display: inline-block;
          margin: 10px auto 5px;
          width: 25%;
          text-align: center;

          a{
            color: #343536;
            font-size: 1.2rem;

            &:hover{
              color: #343536;
            }
          }

          i{
            display: block;
            margin: 2px auto;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;

            &.icon-paint{
              background-image: url('../images/icons/home_live_channel_icon_1.png');
            }

            &.icon-zhai{
              background-image: url('../images/icons/home_live_channel_icon_2.png');
            }

            &.icon-yule{
              background-image: url('../images/icons/home_live_channel_icon_3.png');
            }

            &.icon-danji{
              background-image: url('../images/icons/home_live_channel_icon_4.png');
            }

            &.icon-wangyou{
              background-image: url('../images/icons/home_live_channel_icon_5.png');
            }

            &.icon-jingji{
              background-image: url('../images/icons/home_live_channel_icon_6.png');
            }

            &.icon-fangying{
              background-image: url('../images/icons/home_live_channel_icon_7.png');
            }

            &.icon-all{
              background-image: url('../images/icons/home_live_channel_icon_8.png');
            }
          }

          span{

          }
        }
      }
    }

    .live-category-wrap{

      .live-ad, .category-block{
        position: relative;
        width: 100%;
        background: #ffffff;
        margin: 10px auto;
        box-shadow: 0 0 1px 1px #eaeaea;
      }

      .live-ad{
        padding: 0;

        img{
          display: block;
          width: 100%;
        }
      }

      .category-block{
        padding: 0 5px;

        header{
          padding: 10px;
          font-size: 1.4rem;
          line-height: 25px;
          overflow: hidden;

          .category-info{
            display: inline-block;
            float: left;

            .category-icon{
              width: 20px;
              height: 20px;
              margin-right: 5px;
              vertical-align: middle;
            }
          }

          .more-link{
            display: inline-block;
            float: right;

            a{
              color: #888888;
            }

            img{
              width: 20px;
              height: 20px;
              vertical-align: middle;
            }
          }
        }

        .category-block-content{
          overflow: hidden;

          li{
            list-style: none;
            display: inline-block;
            padding: 0 5px;
            margin: 5px 0;
            width: 50%;

            .thumb{
              position: relative;

              .cover{
                border-radius: 5px;
                width: 100%;
              }

              .avatar{
                position: absolute;
                left: 5px;
                bottom: 0;
                margin-bottom: -18px;
                width: 36px;
                height: 36px;
                border-radius: 18px;
                border: 1px solid #fafafa;
              }
            }

            h4{
              color: #343536;
              margin: 0;
              padding-left: 45px;
              line-height: 25px;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 1.2rem;
              font-weight: normal;
            }

            .meta{
              position: relative;
              overflow: hidden;

              .online-count{
                position: absolute;
                display: inline-block;
                text-align: center;
                top: 0;
                left: 0;
                width: 40px;
                height: 20px;
                padding: 2px 5px;
                font-size: 1.2rem;
                line-height: 14px;
                background: #eaeaea;
                border-radius: 3px;
                border: 1px solid #dddddd;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }

              .category-des{
                display: inline-block;
                width: 100%;
                padding: 0 5px 0 40px;
                margin-left: 5px;
                color: #888888;
                font-size: 1.2rem;
                line-height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  #segment-recommend{
    background: red;
  }

  #segment-bangumi{
    //background: blue;

    #bangumi-sort-head-1{
      margin-top: 10px;
      padding: 10px 0;
      background: #ffffff;

      ul{

        li{
          display: inline-block;
          width: 25%;
          text-align: center;

          a{
            color: #343536;
            font-size: 1.2rem;
          }

          i{
            display: block;
            margin: 2px auto;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.serial{

            i{
              background-image: url("../images/icons/home_bangumi_icon_1.png");
            }
          }

          &.completed{

            i{
              background-image: url("../images/icons/home_bangumi_icon_2.png");
            }
          }

          &.domestic{

            i{
              background-image: url("../images/icons/home_bangumi_icon_3.png");
            }
          }

          &.extension{

            i{
              background-image: url("../images/icons/home_bangumi_icon_4.png");
            }
          }
        }
      }
    }

    #bangumi-sort-head-2{
      padding: 15px 0;

      ul{

        li{
          display: inline-block;
          padding: 0 5px;
          width: e('calc(100% / 3)');
          text-align: center;

          &:first-child{
            padding-left: 10px;
          }

          &:last-child{
            padding-right: 10px;
          }

          a{
            color: #343536;
            font-size: 1.2rem;
          }

          i{
            display: block;
            margin: 2px auto;
            width: 100%;
            height: 40px;
            background-size: cover;
            background-position:center center;
            background-repeat: no-repeat;
            border-radius: 5px;
          }

          &.recommend{

            i{
              background-image: url("../images/icons/home_bangumi_icon_5.png");
            }
          }

          &.daily{

            i{
              background-image: url("../images/icons/home_bangumi_icon_6.png");
            }
          }

          &.index{

            i{
              background-image: url("../images/icons/home_bangumi_icon_7.png");
            }
          }
        }
      }

    }

    .bangumi-cat-wrap{

      .cat-block{
        position: relative;
        width: 100%;
        background: #ffffff;
        padding: 0 5px;
        margin: 10px auto;
        box-shadow: 0 0 1px 1px #eaeaea;

        header{
          padding: 10px;
          font-size: 1.4rem;
          line-height: 25px;
          overflow: hidden;
          
          .cat-info{
            display: inline-block;
            float: left;

            .cat-icon{
              width: 20px;
              height: 20px;
              margin-right: 5px;
              vertical-align: middle;
            }
          }
          
          .more-link{
            display: inline-block;
            float: right;

            a{
              color: #888888;
            }

            .update-count{
              color: @mainColor;
              padding: 0 5px 0 2px;
            }

            img{
              width: 20px;
              height: 20px;
              vertical-align: middle;
            }
          }
        }

        &.latest-update{
          margin-top: 0;

          .cat-block-content{
            overflow-x: hidden;

            li{
              width: 50%;

              img{
                width: 100%;
              }

              h4{
                text-align: left;
              }
            }
          }

        }

        .cat-block-content{
          overflow-x: scroll;
          overflow-y: hidden;

          li{
            list-style: none;
            display: inline-block;
            padding: 0 5px;
            margin: 5px 0;

            img{
              width: 100%;
              border-radius: 5px;
            }

            h4{
              padding: 0 5px;
              margin: 0;
              height: 32px;
              overflow: hidden;
              text-align: center;
              font-weight: normal;
              font-size: 1.2rem;
              line-height: 16px;
            }

            .meta{
              padding: 0 5px;
              //color: @mainColor;
              color: #888888;
              font-size: 1.2rem;
              line-height: 20px;
            }
          }

          .h-wrap{

            li{
              width: 136px;

              img{
                height: 168px;
              }

              h4{
                height: auto;
                line-height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              .meta{
                text-align: center;
                color: @mainColor;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  #segment-region{
    //background: purple;
    overflow-y: auto;

    #region-items{
      padding: 10px 0;

      ul{

        li{
          display: inline-block;
          margin: 10px auto 5px;
          width: e('calc(100% / 3)');
          text-align: center;

          a{
            color: #343536;
            font-size: 1.2rem;

            &:hover{
              color: #343536;
            }
          }

          .icon-bg{
            position: relative;
            margin: 0 auto 6px;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: #ffffff;
            box-shadow: 0 0 1px 1px rgba(0,0,0,.02);

            &:after{
              content: '';
              display: block;
              position: absolute;
              left: 50%;
              bottom: -5px;
              margin-left: -4px;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 8px solid #ffffff;
              box-shadow: 0 0 1px 1px rgba(0,0,0,.02);
            }
          }

          i{
            display: block;
            position: absolute;
            top: 12px;
            left: 12px;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.live{

            i{
              background-image: url("../images/icons/home_region_icon_1.png");
            }
          }

          &.bangumi{

            i{
              background-image: url("../images/icons/home_region_icon_2.png");
            }
          }

          &.cartoon{

            i{
              background-image: url("../images/icons/home_region_icon_3.png");
            }
          }

          &.music{

            i{
              background-image: url("../images/icons/home_region_icon_4.png");
            }
          }

          &.dance{

            i{
              background-image: url("../images/icons/home_region_icon_5.png");
            }
          }

          &.game{

            i{
              background-image: url("../images/icons/home_region_icon_6.png");
            }
          }

          &.tech{

            i{
              background-image: url("../images/icons/home_region_icon_7.png");
            }
          }

          &.entertainment{

            i{
              background-image: url("../images/icons/home_region_icon_8.png");
            }
          }

          &.guichu{

            i{
              background-image: url("../images/icons/home_region_icon_9.png");
            }
          }

          &.movie{

            i{
              background-image: url("../images/icons/home_region_icon_10.png");
            }
          }

          &.tv{

            i{
              background-image: url("../images/icons/home_region_icon_11.png");
            }
          }

          &.fashion{

            i{
              background-image: url("../images/icons/home_region_icon_12.png");
            }
          }
        }
      }
    }
  }
}


//关注Tab
#tab-focus{

  #segment-track{
    background: yellow;
  }

  #segment-activity{
    background: cyan;
  }

  #segment-tag{
    background: orange;
  }
}


//发现Tab
#tab-find{

}


//我的Tab
#tab-me{

}