/* HomeTab-BangumiSegment-RecommendBangumi View */

#bangumi-recommend{
  padding-top:49px;
}


/* HomeTab-BangumiSegment-DailyBangumi View */

#bangumi-daily{
  padding-top:49px;
}


/* HomeTab-BangumiSegment-IndexBangumi View */

#bangumi-index{
  padding-top:49px;
}