.view-body{
  background: #f5f5f5;
  overflow-y: auto;
  height: 100%;
}

.fullscreen-view{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f5f5f5;
  z-index: 1020;

  &.inset-nav{
    padding-top:49px;
  }
}

/* HomeTab-BangumiSegment-Main View */


/* HomeTab-BangumiSegment-RecommendBangumi View */

#bangumi-recommend{

}


/* HomeTab-BangumiSegment-DailyBangumi View */

#bangumi-daily{

}


/* HomeTab-BangumiSegment-IndexBangumi View */

#bangumi-index{

  .tag-list{
    padding-left: 10px;
    padding-right: 10px;

    li{
      list-style: none;
      display: inline-block;
      width: e('calc(100% / 3 - 10px)');
      margin: 0 5px 10px;
      text-align: center;

      img{
        width: 100%;
        border-radius: 5px;
        vertical-align: baseline;
      }

      span{
        display: inline-block;
        font-size: 1.4rem;
        line-height: 30px;
        height: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }
}

/* Pull Refresh Indicator */
.pull-refresh-indicator{
  padding: 20px 0;

  img{
    display: block;
    margin: 10px auto;
    width: 160px;
    height: 50px;
  }

  .pull-refresh-wrap{
    text-align: center;

    i{
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-size: cover;

      &.arrow-down{
        background-image: url("../images/icons/utils_icon_arrow_down.png");
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      &.arrow-up{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      &.refresh-circle{
        background-image: url("../images/icons/utils_icon_refresh_circle.png");
      }

      &.refresh-done{
        background-image: url("../images/icons/utils_icon_refresh_done.png");
      }
    }

    span{
      font-size: 1.2rem;
      line-height: 25px;
      color: #343536;
    }
  }
}



/* HomeTab-LiveSegment-Live Category Detail View */

#live-category{

  .view-body{
    overflow: hidden;
    overflow-y: auto;
    padding: 10px 5px;

    li{
      list-style: none;
      display: inline-block;
      padding: 0 5px;
      margin: 5px 0;
      width: 50%;

      .thumb{
        position: relative;

        .cover{
          border-radius: 5px;
          width: 100%;
        }

        .avatar{
          position: absolute;
          left: 5px;
          bottom: 0;
          margin-bottom: -18px;
          width: 36px;
          height: 36px;
          border-radius: 18px;
          border: 1px solid #fafafa;
        }
      }

      h4{
        color: #343536;
        margin: 0;
        padding-left: 45px;
        line-height: 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.2rem;
        font-weight: normal;
      }

      .meta{
        position: relative;
        overflow: hidden;

        .online-count{
          position: absolute;
          display: inline-block;
          text-align: center;
          top: 0;
          left: 0;
          width: 40px;
          height: 20px;
          padding: 2px 4px;
          font-size: 1.2rem;
          line-height: 14px;
          background: #eaeaea;
          border-radius: 3px;
          border: 1px solid #dddddd;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .room-des{
          display: inline-block;
          width: 100%;
          padding: 0 5px 0 40px;
          margin-left: 5px;
          color: #888888;
          font-size: 1.2rem;
          line-height: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}


/* HomeTab-BangumiSegment-Bangumi Category Detail View */

#bangumi-category{

  .view-body{

    .video{
      overflow: hidden;

      &.col-1{
        border-bottom: 1px solid #eaeaea;
        margin: 0 auto;

        &:last-child{
          border-bottom: none;
        }

        .inner-wrap{
          position: relative;
          margin: 10px;
          min-height: 100px;
        }

        .video-cover{
          position: absolute;
          top: 0;
          left: 0;
          width: 80px;
          height: 100px;
        }

        .video-info{
          position: relative;
          padding-left: 90px;

          h2{
            margin: 0;
            font-size: 1.6rem;
            line-height: 30px;
            font-weight: normal;
            color: #343536;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .video-brief{
            font-size: 1.2rem;
            line-height: 25px;
            color: #888888;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .video-status{
            font-size: 1.2rem;
            line-height: 25px;
            color: #888888;
          }

          .video-meta{
            font-size: 1.3rem;
            line-height: 20px;
            color: #888888;

            .last-time{
              margin-left: 16px;
            }
          }
        }
      }
    }

    .cartoon-video{
      overflow: hidden;

      &.col-1{
        border-bottom: 1px solid #eaeaea;
        margin: 0 auto;

        &:last-child{
          border-bottom: none;
        }

        .inner-wrap{
          position: relative;
          margin: 10px;
          min-height: 75px;
        }

        .video-cover{
          position: absolute;
          top: 0;
          left: 0;
          width: 120px;
          height: 75px;
          border-radius: 5px;
        }

        .video-info{
          position: relative;
          padding-left: 130px;

          h2{
            margin: 0;
            font-size: 1.6rem;
            line-height: 20px;
            height: 40px;
            font-weight: normal;
            color: #343536;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            //text-indent: -8px;
          }

          .video-meta{
            margin-top: 10px;
            font-size: 1.3rem;
            line-height: 20px;
            color: #888888;

            &>span{
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .author{
              max-width: e('calc(100% - 80px)');
            }

            .play{
              max-width: 80px;
              float: right;
            }
          }
        }
      }
    }
  }
}


/* HomeTab-RegionSegment-Region Detail View */
#region{

  .view-body{

    &>section{
      position: relative;
      width: 100%;
      background: #ffffff;
      padding: 0 5px;
      margin: 10px auto;
      box-shadow: 0 0 1px 1px #eaeaea;

      header{
        padding: 10px 10px 5px;
        font-size: 1.4rem;
        line-height: 25px;
        overflow: hidden;

        .mod-info{
          display: inline-block;
          float: left;

          .mod-icon{
            width: 20px;
            height: 20px;
            margin-right: 5px;
            vertical-align: middle;
            float: left;
          }

          .mod-name{
            display: inline-block;
            line-height: 20px;
          }
        }

        .more-link{
          display: inline-block;
          float: right;

          a{
            color: #888888;
          }

          .more-text{
            display: inline-block;
            line-height: 20px;
            padding: 0 2px;
          }

          img{
            width: auto;
            height: 20px;
            vertical-align: middle;
          }
        }
      }

      .mod-content{
        overflow: hidden;

        li{
          list-style: none;
          display: inline-block;
          padding: 0 5px;
          margin: 5px 0;
          width: 50%;

          .cover{
            width: 100%;
            border-radius: 5px;
            height: auto;
            height: e('calc(0.625 * (50vw - 15px))');
            background: #eaeaea;
          }

          h4{
            padding: 0;
            margin: 5px 0;
            height: 32px;
            overflow: hidden;
            text-align: left;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 16px;
          }

          .meta{
            padding: 5px 0;
            color: #888888;
            font-size: 1.2rem;
            line-height: 20px;
            overflow: hidden;

            .play{
              float: left;
              width: 50%;
            }

            .view{
              float: left;
              width: 50%;
            }

            i{
              background-size: contain;
              background-repeat: no-repeat;
              display: inline-block;
              float: left;
              width: 24px;
              height: 16px;

              &.icon-play{
                background-image: url("../images/icons/meta_icon_play.png");
              }

              &.icon-view{
                background-image: url("../images/icons/meta_icon_view.png");
              }
            }

            .num{
              float: left;
              display: inline-block;
              line-height: 16px;
            }
          }

        }
      }
    }

    .activity{
      margin-bottom: 0;
    }

  }
}


/* Widget */
.widget{

  &.loading{
    position: relative;
    top: 50%;
    margin-top: -90px;

    .sub-loading-cover{
      display: block;
      width: 150px;
      height: 130px;
      margin: 0 auto;
    }

    .loading-text{
      font-size: 1.4rem;
      line-height: 50px;
      text-align: center;
    }
  }

  &.loadError{
    position: relative;
    top: 50%;
    margin-top: -40px;
    text-align: center;

    i{
      font-size: 3rem;
      line-height: 40px;
    }

    .error-text{
      font-size: 1.4rem;
      line-height: 40px;
    }
  }
}