.view-body{
  background: #f5f5f5;
  overflow-y: auto;
  height: 100%;
}

/* HomeTab-BangumiSegment-Main View */


/* HomeTab-BangumiSegment-RecommendBangumi View */

#bangumi-recommend{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top:49px;
  background: #f5f5f5;
  z-index: 1020;
}


/* HomeTab-BangumiSegment-DailyBangumi View */

#bangumi-daily{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top:49px;
  background: #f5f5f5;
  z-index: 1020;
}


/* HomeTab-BangumiSegment-IndexBangumi View */

#bangumi-index{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top:49px;
  background: #f5f5f5;
  z-index: 1020;

  .tag-list{
    padding-left: 10px;
    padding-right: 10px;

    li{
      list-style: none;
      display: inline-block;
      width: e('calc(100% / 3 - 10px)');
      margin: 0 5px 10px;
      text-align: center;

      img{
        width: 100%;
        border-radius: 5px;
        vertical-align: baseline;
      }

      span{
        display: inline-block;
        font-size: 1.4rem;
        line-height: 30px;
        height: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }
}

/* Pull Refresh Indicator */
.pull-refresh-indicator{
  padding: 20px 0;

  img{
    display: block;
    margin: 10px auto;
    width: 160px;
    height: 50px;
  }

  .pull-refresh-wrap{
    text-align: center;

    i{
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: middle;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-size: cover;

      &.arrow-down{
        background-image: url("../images/icons/utils_icon_arrow_down.png");
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }

      &.arrow-up{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      &.refresh-circle{
        background-image: url("../images/icons/utils_icon_refresh_circle.png");
      }

      &.refresh-done{
        background-image: url("../images/icons/utils_icon_refresh_done.png");
      }
    }

    span{
      font-size: 1.2rem;
      line-height: 25px;
      color: #343536;
    }
  }
}



/* HomeTab-LiveSegment-Live Category Detail View */

#live-category{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top:49px;
  background: #f5f5f5;
  z-index: 1020;
}

/* HomeTab-LiveSegment-Live All Detail View */

#live-all{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top:49px;
  background: #f5f5f5;
  z-index: 1020;
}